@charset "UTF-8";
/*
 * styles.scss
 * ~~~~~~~~~~~~~~
 *
 * Customizations for Netsco Media Lab
 *
 * :copyright: Copyright 2012 by Netsco, Inc.
 *
 */
/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* variables */
/*
 * _common.scss
 * ~~~~~~~~~~~~~~
 *
 * :copyright: Copyright 2012 by Netsco, Inc.
 */
/* VARIABLES */
/* line 20, ../../common/static/_common.scss */
body {
  font-family: "나눔고딕", NanumGothic, "맑은고딕", "Malgun Gothic", "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 14px;
  color: black;
  letter-spacing: -0.01em;
  line-height: 24px;
  text-align: left;
}

/* line 30, ../../common/static/_common.scss */
p {
  margin: 0.8em 0 0.5em 0;
}

/* line 32, ../../common/static/_common.scss */
a {
  color: #336699;
  text-decoration: none;
}
/* line 36, ../../common/static/_common.scss */
a:hover {
  color: #336699;
  text-decoration: underline;
}

/* line 42, ../../common/static/_common.scss */
img {
  max-width: 100% !important;
  height: auto;
}

/* line 48, ../../common/static/_common.scss */
dl dt {
  font-weight: 600;
  margin-bottom: 8px;
}
/* line 52, ../../common/static/_common.scss */
dl dd {
  margin-left: 16px;
  margin-bottom: 8px;
}

/* line 58, ../../common/static/_common.scss */
pre {
  font-family: 'Monaco', 'Menlo', monospace;
  font-size: 13px;
  letter-spacing: 0.015em;
  line-height: 120%;
  padding: 10px 15px;
  margin: 10px 0px;
  border: 1px solid #DDD;
  background-color: #f8f8f8;
  /* wrap text */
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

/* line 78, ../../common/static/_common.scss */
pre a {
  color: inherit;
  text-decoration: underline;
}

/* line 83, ../../common/static/_common.scss */
h1, h2, h3 {
  color: #336699;
}

/* line 85, ../../common/static/_common.scss */
h1 {
  margin: 0;
  padding: 0.7em 0 0.3em 0;
  line-height: 2em;
  font-size: 1.5em;
}

/* line 92, ../../common/static/_common.scss */
h2 {
  margin: 1.3em 0 0.2em 0;
  font-size: 1.35em;
  padding-bottom: .5em;
  border-bottom: 1px solid #336699;
}

/* line 99, ../../common/static/_common.scss */
h3 {
  margin: 1em 0 -0.3em 0;
  font-size: 1.2em;
  padding-bottom: .3em;
  border-bottom: 1px solid #CCCCCC;
}

/* line 106, ../../common/static/_common.scss */
a.internal {
  text-decoration: none !important;
  border-bottom: 1px #369 dotted;
  margin: 0 2px;
}

/* line 112, ../../common/static/_common.scss */
div.body {
  margin: 0;
}

/* line 114, ../../common/static/_common.scss */
div.body ul {
  list-style: disc;
  padding-left: 20px;
  margin-bottom: 24px;
}

/* line 120, ../../common/static/_common.scss */
div.body ol {
  padding-left: 20px;
  margin-bottom: 24px;
}

/* line 125, ../../common/static/_common.scss */
div.body a {
  text-decoration: underline;
}

/* line 130, ../../common/static/_common.scss */
div.body h1 a, div.body h2 a, div.body h3 a,
div.body h4 a, div.body h5 a, div.body h6 a {
  color: inherit !important;
}

/* line 134, ../../common/static/_common.scss */
a.headerlink {
  color: #336699 !important;
  font-size: 1em;
  margin-left: 6px;
  padding: 0 4px 0 4px;
  text-decoration: none !important;
}

/* line 142, ../../common/static/_common.scss */
a.headerlink:hover {
  background-color: #ccc;
  color: white!important;
}

/* line 147, ../../common/static/_common.scss */
cite, code, tt {
  font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
  font-size: 0.95em;
  letter-spacing: 0.01em;
}

/* line 153, ../../common/static/_common.scss */
tt {
  background-color: #F2F2F2;
  border-bottom: 1px solid #336699;
  color: #333;
}

/* line 159, ../../common/static/_common.scss */
hr {
  border: 1px solid #336699;
  margin: 2em;
}

/* line 164, ../../common/static/_common.scss */
th {
  color: white;
  text-align: left;
  padding-right: 5px;
  background-color: #336699;
}

/*
 * _roles.scss
 * ~~~~~~~~~~~~~~
 *
 * :copyright: Copyright 2012 by Netsco, Inc.
 *
 */
/* line 9, ../../common/static/_roles.scss */
em.menuselection {
  color: #336699;
  margin: 0 2px;
  border-bottom: 1px #336699 dotted;
}

/* line 15, ../../common/static/_roles.scss */
span.ebook-note-title {
  color: #336699;
  margin-left: 5px;
}

/* line 20, ../../common/static/_roles.scss */
span.ebook-application {
  color: #336699;
  font-weight: 600;
  margin-right: 2px;
}

/* line 26, ../../common/static/_roles.scss */
span.ebook-brand {
  color: #336699;
  font-weight: 600;
  margin-right: 2px;
}

/* line 32, ../../common/static/_roles.scss */
tt.kbd {
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  color: #333;
  display: inline-block;
  font-size: inherit;
  line-height: 20px;
  margin: 0 2px;
  padding: 0 5px;
}

/* line 44, ../../common/static/_roles.scss */
div.admonition {
  margin: 1em 0 1em 0;
  border-left: 3px solid #336699;
  padding: 0 0 0 16px;
}
/* line 49, ../../common/static/_roles.scss */
div.admonition p.admonition-title {
  margin: 0;
  padding: 0.1em 0 0.1em 0.5em;
  color: black;
  font-size: 16px;
  font-weight: bold;
}
/* line 56, ../../common/static/_roles.scss */
div.admonition p.admonition-title img {
  vertical-align: middle;
}

/* line 62, ../../common/static/_roles.scss */
span.guilabel {
  color: #336699;
  font-family: monospace;
}

/* line 67, ../../common/static/_roles.scss */
h1 span.ebook-tip-index {
  background-color: #336699;
  color: white;
  margin-right: 12px;
  padding: 6px 8px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 19, styles.scss */
.epub-cover img {
  max-width: 100%;
  height: auto;
}
