/*
 * _common.scss
 * ~~~~~~~~~~~~~~
 *
 * :copyright: Copyright 2012 by Netsco, Inc.
 */

/* VARIABLES */

$theme-color : #369 !default;
$sub-theme-color :#9155D6 !default;
$text-size   : 14px !default;
$text-color  : black !default;
$line-height : 24px !default;

$brand-color         : $theme-color !default;
$notetitle-color     : $theme-color !default;
$application-color   : $theme-color !default;
$menuselection-color : $theme-color !default;
$info-item-bg-color  : $sub-theme-color !default;
$link-title-color    : $sub-theme-color !default;


body {
    font-family : '나눔고딕', NanumGothic, '맑은고딕', 'Malgun Gothic', '돋움', Dotum, '굴림', Gulim, Helvetica, sans-serif;
    font-size   : $text-size;
    color: $text-color;

    letter-spacing : -0.01em;
    line-height    : $line-height;
    text-align     : left;
}

p { margin: 0.8em 0 0.5em 0; }

a {
    color: $theme-color;
    text-decoration: none;

    &:hover {
        color: $theme-color;
        text-decoration: underline;
    }
}

img {
    max-width: 100% !important;
    height: auto;
}

.figure-img{
  width: 100%;
  display: inline-block;
  img{
    float: left;
    display: block;
  }
  p{
    display: inline-block;
    width: 100%;
    text-align: left !important;
  }
}

dl {
    dt {
        font-weight: 600;
        margin-bottom: 8px;
    }
    dd {
        margin-left: 16px;
        margin-bottom: 8px;
    }
}

pre {
    font-family: 'Monaco', 'Menlo', monospace;
    font-size: 13px;
    letter-spacing: 0.015em;
    line-height: 120%;
    padding: 10px 15px;
    margin: 10px 0px;

    border: 1px solid #DDD;
    background-color: #f8f8f8;

    /* wrap text */

    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

pre a {
    color: inherit;
    text-decoration: underline;
}

h1, h2, h3 { color: $theme-color; }

h1 {
    margin: 0;
    padding: 0.7em 0 0.3em 0;
    line-height: 2em;
    font-size: 1.5em;
}

h2 {
    margin: 1.3em 0 0.2em 0;
    font-size: 1.35em;
    padding-bottom: .5em;
    border-bottom: 1px solid $theme-color;
}

h3 {
    margin: 1em 0 -0.3em 0;
    font-size: 1.2em;
    padding-bottom: .3em;
    border-bottom: 1px solid #CCCCCC;
}

a.internal {
    text-decoration: none !important;
    border-bottom: 1px #369 dotted;
    margin: 0 2px;
}

div.body { margin: 0; }

div.body ul {
    list-style: disc;
    padding-left: 20px;
    margin-bottom: $line-height;
}

div.body ol {
    padding-left: 20px;
    margin-bottom: $line-height;
}

div.body a {
    text-decoration: underline;
}

div.body h1 a, div.body h2 a, div.body h3 a,
div.body h4 a, div.body h5 a, div.body h6 a {
    color: inherit !important;
}

a.headerlink {
    color: $theme-color !important;
    font-size: 1em;
    margin-left: 6px;
    padding: 0 4px 0 4px;
    text-decoration: none !important;
}

a.headerlink:hover {
    background-color: #ccc;
    color: white!important;
}

cite, code, tt {
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 0.95em;
    letter-spacing: 0.01em;
}

tt {
    background-color: #F2F2F2;
    border-bottom: 1px solid $theme-color;
    color: #333;
}

hr {
    border: 1px solid $theme-color;
    margin: 2em;
}

th {
    color: white;
    text-align: left;
    padding-right: 5px;
    background-color: $theme-color;
}
