/*
 * _roles.scss
 * ~~~~~~~~~~~~~~
 *
 * :copyright: Copyright 2012 by Netsco, Inc.
 *
 */

span.info-item {
  color: white;
  background-color: $info-item-bg-color;
  font-weight: 600;
  margin-right: 2px;
}

span.link-title {
  color: $link-title-color;
  font-weight: 600;
  margin-right: 2px;
  padding: 2px 5px;
  @include border-radius(3px);
}

em.menuselection {
    color: $menuselection-color;
    margin: 0 2px;
    border-bottom: 1px $menuselection-color dotted;
}

span.ebook-note-title {
    color: $notetitle-color;
    margin-left: 5px;
}

span.ebook-application {
    color: $application-color;
    font-weight: 600;
    margin-right: 2px;
}

span.ebook-brand {
    color: $brand-color;
    font-weight: 600;
    margin-right: 2px;
}

tt.kbd {
    border: 1px solid #ccc;
    background-color: #f7f7f7;

    color:#333;
    display:inline-block;
    font-size: inherit;
    line-height: 20px;
    margin  : 0 2px;
    padding : 0 5px;
}

div.admonition {
    margin: 1em 0 1em 0;
    border-left: 3px solid $theme-color;
    padding: 0 0 0 16px;

    p.admonition-title {
        margin: 0;
        padding: 0.1em 0 0.1em 0.5em;
        color: black;
        font-size: 16px;
        font-weight: bold;

        img {
            vertical-align: middle;
        }
    }
}

span.guilabel {
    color: $theme-color;
    font-family: monospace;
}

h1 span.ebook-tip-index {
    background-color: $theme-color;
    color: white;
    margin-right: 12px;
    padding: 6px 8px;

    @include border-radius(3px);
}