/*
 * _footer.scss
 * ~~~~~~~~~~~~~~
 *
 * Customizations - footer
 *
 * :copyright: Copyright 2012 by Netsco, Inc.
 *
 */

 div.footer {
    background-color: white;
    color: $theme-color;
    padding: 3px 8px 3px 0;
    clear: both;
    font-size: 14px;
    text-align: right;
/*    border-bottom: 1px solid $theme-color; */

    @include box-shadow(2px 2px 5px #000);
    a {
        color: $theme-color;
        text-decoration: underline;
    }
}
