/*
 * _related.scss
 * ~~~~~~~~~~~~~~
 *
 * Customizations - top navigation
 *
 * :copyright: Copyright 2012 by Netsco, Inc.
 *
 */

div.related ul {
    background-color: $theme-color;
    line-height: 50px;
    height: 50px;

    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    @include box-shadow(2px 2px 5px #000);

    li {
        color: white;
        margin: 0;
        padding: 0;
        height: 2em;
        float: left;
        a {
            margin: 0;
            padding: 0 5px 0 5px;
            line-height: 1.75em;
            color: #fff;

            &:hover {
                color: #fff;
                text-decoration: underline;
            }
        }
        a.ebook-master {
            font-size: 16px;
        }
        .right {
            float: right;
            margin-right: 5px;
        }
    }
}
