/*
 * styles.scss
 * ~~~~~~~~~~~~~~
 *
 * Customizations for Netsco Media Lab
 *
 * :copyright: Copyright 2012 by Netsco, Inc.
 *
 */

@import "compass/reset";
@import "compass/css3";

/* variables */

@import "../../common/static/common";
@import "../../common/static/roles";

@import "related"; /* styles for top navigation */
@import "footer";  /* styles for footer */

body {
    background-color: white;
    background-image: url(background.png);
    border-right: 1px solid $theme-color;
    border-left : 1px solid $theme-color;
    margin: 0px 40px 0px 40px;
}

div.document {
    background-color  : white;
    background-repeat : repeat-x;

    @include box-shadow(2px 2px 5px black);
}

div.bodywrapper {
    margin: 0 0 0 240px;
    border-left: 1px solid #ccc;
}

div.footer { padding: 6px 20px; }

div.sphinxsidebar {
    padding: 0px;
    h3, h4 {
        margin: 1em 0 0.5em 0;
        font-size: 1em;
        padding: 0.1em 0 0.1em 0.5em;
        color: white;
        border: 1px solid $theme-color;
        background-color: $theme-color;
    }
    input {
        border: 1px solid $theme-color;
    }

    p.logo {
        text-align: center;
    }
    img.logo {
        max-width: 210px;
    }

    h3 a {
        color: white;
    }

    ul {
        padding-left: 1.5em;
        margin-top: 7px;
        padding: 0;
        line-height: 130%;

        ul {
        margin-left: 20px;
        }
    }
}

div.body {
    padding: 0 20px 20px 20px;
}

/* WIDE DESKTOP STYLE */
@media only screen and (min-width: 1176px) {
    body { margin: 0 20px 20px 20px; }
}

/* TABLET, DESKTOP STYLE */
@media only screen and (min-width: 768px) and (max-width: 1175px) {
    body { margin: 0 20px 20px 20px; }
}

/* MOBILE LAYOUT (PORTRAIT/320px) */
@media only screen and (max-width: 767px) {
    body { margin: 0; }
    div.bodywrapper {
        margin: 0;
        width: 100%;
        border: none;
    }
    div.sphinxsidebar {
        display: none;
    }
}

/* MOBILE LAYOUT (LANDSCAPE/480px) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    body { margin: 0 10px 10px 10px; }
}

/* RETINA OVERRIDES */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
    /* */
}
