/*
 * styles.scss
 * ~~~~~~~~~~~~~~
 *
 * Customizations for Netsco Media Lab
 *
 * :copyright: Copyright 2012 by Netsco, Inc.
 *
 */
/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* variables */
/*
 * _common.scss
 * ~~~~~~~~~~~~~~
 *
 * :copyright: Copyright 2012 by Netsco, Inc.
 */
/* VARIABLES */
/* line 20, ../../common/static/_common.scss */
body {
  font-family: "나눔고딕", NanumGothic, "맑은고딕", "Malgun Gothic", "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  font-size: 14px;
  color: black;
  letter-spacing: -0.01em;
  line-height: 24px;
  text-align: left;
}

/* line 30, ../../common/static/_common.scss */
p {
  margin: 0.8em 0 0.5em 0;
}

/* line 32, ../../common/static/_common.scss */
a {
  color: #336699;
  text-decoration: none;
}
/* line 36, ../../common/static/_common.scss */
a:hover {
  color: #336699;
  text-decoration: underline;
}

/* line 42, ../../common/static/_common.scss */
img {
  max-width: 100% !important;
  height: auto;
}

/* line 48, ../../common/static/_common.scss */
dl dt {
  font-weight: 600;
  margin-bottom: 8px;
}
/* line 52, ../../common/static/_common.scss */
dl dd {
  margin-left: 16px;
  margin-bottom: 8px;
}

/* line 58, ../../common/static/_common.scss */
pre {
  font-family: 'Monaco', 'Menlo', monospace;
  font-size: 13px;
  letter-spacing: 0.015em;
  line-height: 120%;
  padding: 10px 15px;
  margin: 10px 0px;
  border: 1px solid #DDD;
  background-color: #f8f8f8;
  /* wrap text */
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

/* line 78, ../../common/static/_common.scss */
pre a {
  color: inherit;
  text-decoration: underline;
}

/* line 83, ../../common/static/_common.scss */
h1, h2, h3 {
  color: #336699;
}

/* line 85, ../../common/static/_common.scss */
h1 {
  margin: 0;
  padding: 0.7em 0 0.3em 0;
  line-height: 2em;
  font-size: 1.5em;
}

/* line 92, ../../common/static/_common.scss */
h2 {
  margin: 1.3em 0 0.2em 0;
  font-size: 1.35em;
  padding-bottom: .5em;
  border-bottom: 1px solid #336699;
}

/* line 99, ../../common/static/_common.scss */
h3 {
  margin: 1em 0 -0.3em 0;
  font-size: 1.2em;
  padding-bottom: .3em;
  border-bottom: 1px solid #CCCCCC;
}

/* line 106, ../../common/static/_common.scss */
a.internal {
  text-decoration: none !important;
  border-bottom: 1px #369 dotted;
  margin: 0 2px;
}

/* line 112, ../../common/static/_common.scss */
div.body {
  margin: 0;
}

/* line 114, ../../common/static/_common.scss */
div.body ul {
  list-style: disc;
  padding-left: 20px;
  margin-bottom: 24px;
}

/* line 120, ../../common/static/_common.scss */
div.body ol {
  padding-left: 20px;
  margin-bottom: 24px;
}

/* line 125, ../../common/static/_common.scss */
div.body a {
  text-decoration: underline;
}

/* line 130, ../../common/static/_common.scss */
div.body h1 a, div.body h2 a, div.body h3 a,
div.body h4 a, div.body h5 a, div.body h6 a {
  color: inherit !important;
}

/* line 134, ../../common/static/_common.scss */
a.headerlink {
  color: #336699 !important;
  font-size: 1em;
  margin-left: 6px;
  padding: 0 4px 0 4px;
  text-decoration: none !important;
}

/* line 142, ../../common/static/_common.scss */
a.headerlink:hover {
  background-color: #ccc;
  color: white!important;
}

/* line 147, ../../common/static/_common.scss */
cite, code, tt {
  font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
  font-size: 0.95em;
  letter-spacing: 0.01em;
}

/* line 153, ../../common/static/_common.scss */
tt {
  background-color: #F2F2F2;
  border-bottom: 1px solid #336699;
  color: #333;
}

/* line 159, ../../common/static/_common.scss */
hr {
  border: 1px solid #336699;
  margin: 2em;
}

/* line 164, ../../common/static/_common.scss */
th {
  color: white;
  text-align: left;
  padding-right: 5px;
  background-color: #336699;
}

/*
 * _roles.scss
 * ~~~~~~~~~~~~~~
 *
 * :copyright: Copyright 2012 by Netsco, Inc.
 *
 */
/* line 9, ../../common/static/_roles.scss */
em.menuselection {
  color: #336699;
  margin: 0 2px;
  border-bottom: 1px #336699 dotted;
}

/* line 15, ../../common/static/_roles.scss */
span.ebook-note-title {
  color: #336699;
  margin-left: 5px;
}

/* line 20, ../../common/static/_roles.scss */
span.ebook-application {
  color: #336699;
  font-weight: 600;
  margin-right: 2px;
}

/* line 26, ../../common/static/_roles.scss */
span.ebook-brand {
  color: #336699;
  font-weight: 600;
  margin-right: 2px;
}

/* line 32, ../../common/static/_roles.scss */
tt.kbd {
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  color: #333;
  display: inline-block;
  font-size: inherit;
  line-height: 20px;
  margin: 0 2px;
  padding: 0 5px;
}

/* line 44, ../../common/static/_roles.scss */
div.admonition {
  margin: 1em 0 1em 0;
  border-left: 3px solid #336699;
  padding: 0 0 0 16px;
}
/* line 49, ../../common/static/_roles.scss */
div.admonition p.admonition-title {
  margin: 0;
  padding: 0.1em 0 0.1em 0.5em;
  color: black;
  font-size: 16px;
  font-weight: bold;
}
/* line 56, ../../common/static/_roles.scss */
div.admonition p.admonition-title img {
  vertical-align: middle;
}

/* line 62, ../../common/static/_roles.scss */
span.guilabel {
  color: #336699;
  font-family: monospace;
}

/* line 67, ../../common/static/_roles.scss */
h1 span.ebook-tip-index {
  background-color: #336699;
  color: white;
  margin-right: 12px;
  padding: 6px 8px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/*
 * _related.scss
 * ~~~~~~~~~~~~~~
 *
 * Customizations - top navigation
 *
 * :copyright: Copyright 2012 by Netsco, Inc.
 *
 */
/* line 11, _related.scss */
div.related ul {
  background-color: #336699;
  line-height: 50px;
  height: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  -webkit-box-shadow: 2px 2px 5px black;
  -moz-box-shadow: 2px 2px 5px black;
  box-shadow: 2px 2px 5px black;
}
/* line 21, _related.scss */
div.related ul li {
  color: white;
  margin: 0;
  padding: 0;
  height: 2em;
  float: left;
}
/* line 27, _related.scss */
div.related ul li a {
  margin: 0;
  padding: 0 5px 0 5px;
  line-height: 1.75em;
  color: #fff;
}
/* line 33, _related.scss */
div.related ul li a:hover {
  color: #fff;
  text-decoration: underline;
}
/* line 38, _related.scss */
div.related ul li a.ebook-master {
  font-size: 16px;
}
/* line 41, _related.scss */
div.related ul li .right {
  float: right;
  margin-right: 5px;
}

/* styles for top navigation */
/*
 * _footer.scss
 * ~~~~~~~~~~~~~~
 *
 * Customizations - footer
 *
 * :copyright: Copyright 2012 by Netsco, Inc.
 *
 */
/* line 11, _footer.scss */
div.footer {
  background-color: white;
  color: #336699;
  padding: 3px 8px 3px 0;
  clear: both;
  font-size: 14px;
  text-align: right;
  /*    border-bottom: 1px solid $theme-color; */
  -webkit-box-shadow: 2px 2px 5px black;
  -moz-box-shadow: 2px 2px 5px black;
  box-shadow: 2px 2px 5px black;
}
/* line 21, _footer.scss */
div.footer a {
  color: #336699;
  text-decoration: underline;
}

/* styles for footer */
/* line 22, styles.scss */
body {
  background-color: white;
  background-image: url(background.png);
  border-right: 1px solid #336699;
  border-left: 1px solid #336699;
  margin: 0px 40px 0px 40px;
}

/* line 30, styles.scss */
div.document {
  background-color: white;
  background-repeat: repeat-x;
  -webkit-box-shadow: 2px 2px 5px black;
  -moz-box-shadow: 2px 2px 5px black;
  box-shadow: 2px 2px 5px black;
}

/* line 37, styles.scss */
div.bodywrapper {
  margin: 0 0 0 240px;
  border-left: 1px solid #ccc;
}

/* line 42, styles.scss */
div.footer {
  padding: 6px 20px;
}

/* line 44, styles.scss */
div.sphinxsidebar {
  padding: 0px;
}
/* line 46, styles.scss */
div.sphinxsidebar h3, div.sphinxsidebar h4 {
  margin: 1em 0 0.5em 0;
  font-size: 1em;
  padding: 0.1em 0 0.1em 0.5em;
  color: white;
  border: 1px solid #336699;
  background-color: #336699;
}
/* line 54, styles.scss */
div.sphinxsidebar input {
  border: 1px solid #336699;
}
/* line 58, styles.scss */
div.sphinxsidebar p.logo {
  text-align: center;
}
/* line 61, styles.scss */
div.sphinxsidebar img.logo {
  max-width: 210px;
}
/* line 65, styles.scss */
div.sphinxsidebar h3 a {
  color: white;
}
/* line 69, styles.scss */
div.sphinxsidebar ul {
  padding-left: 1.5em;
  margin-top: 7px;
  padding: 0;
  line-height: 130%;
}
/* line 75, styles.scss */
div.sphinxsidebar ul ul {
  margin-left: 20px;
}

/* line 81, styles.scss */
div.body {
  padding: 0 20px 20px 20px;
}

/* WIDE DESKTOP STYLE */
@media only screen and (min-width: 1176px) {
  /* line 87, styles.scss */
  body {
    margin: 0 20px 20px 20px;
  }
}
/* TABLET, DESKTOP STYLE */
@media only screen and (min-width: 768px) and (max-width: 1175px) {
  /* line 92, styles.scss */
  body {
    margin: 0 20px 20px 20px;
  }
}
/* MOBILE LAYOUT (PORTRAIT/320px) */
@media only screen and (max-width: 767px) {
  /* line 97, styles.scss */
  body {
    margin: 0;
  }

  /* line 98, styles.scss */
  div.bodywrapper {
    margin: 0;
    width: 100%;
    border: none;
  }

  /* line 103, styles.scss */
  div.sphinxsidebar {
    display: none;
  }
}
/* MOBILE LAYOUT (LANDSCAPE/480px) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 110, styles.scss */
  body {
    margin: 0 10px 10px 10px;
  }
}
/* RETINA OVERRIDES */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  /* */
}
